<template name="Payouts">
{{> PayoutCreate }}




<div class="ui link cards" style="margin-top:3em;">
<h1>You have {{ payouts.length }} fines!</h1>
{{#each payouts }}

  <div class="card">
      <div class="image">
        <img src="{{ fromUserProfileUrl }}">
      </div>
      <div class="content">
        <div class="header"></div>
        <div class="meta">
          <a class="ui image label">
          $1 fine
          </a>

          <a>was fined by </a>      

          <a class="ui image label">
          <img src="{{ fromUserProfileUrl }}">
          {{ fromUserName }}
          </a>
        </div>
        <div class="description">
          {{ message }}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          {{#if currentUser }}

          <form action="" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_JByMAh88utOC96i16DdHM8U2"
              data-amount="100"
              data-name="Social Fines"
              data-description="Forgiveness and donation beyond blue ($2.00)"
              data-image="/128x128.png"
              data-locale="auto">
            </script>
          </form>
                {{/if}}
        </span>
        <span>
          <i class="user icon"></i>
          75 Friends
        </span>
      </div>
    </div>
{{/each}}



</div>






</template>
