<template name="Privacy">


  <p>Privacy policy<br />
  ABOUT THIS POLICY<br />
  Purpose<br />
  The purpose of this privacy policy is to communicate clearly the personal information handling practices we follow when we collect and deal with your personal information, including how you can contact us if you wish to correct or access personal information we hold about you.<br />
  Privacy Act 1988 (Cth)<br />
  As a small business, we are exempted from the operation of the Privacy Act. However, protection of your personal information that we collect is very important to us. This policy sets out how we handle any personal information we collect or receive about you.<br />
  The Privacy Act 1988 (Cth) can be viewed at http://www.austlii.edu.au/au/legis/cth/consol_act/pa1988108/<br />
  How is our privacy policy structured?<br />
  Our privacy policy is &lsquo;layered&rsquo; as it is presented in three layers. The first layer is the Privacy icon shown on the bottom of the web page in which we collect your personal information. It provides a quick snapshot of our information handling practices. The second layer, the one page summary that you reach from the icon link, provides you with a summary of how we collect, use, disclose and store your personal information, how you can contact us and which Act applies to our activities. The third layer is this full privacy policy that provides a more detailed explanation of our information handling procedures.<br />
  OUR PERSONAL INFORMATION HANDLING PRACTICES<br />
  What is personal information?<br />
  We use the definition of personal information contained in s 6(1) of the Privacy Act. It states that personal information is 'information or an opinion (including information or an opinion forming part of a database), whether true or not, and whether recorded in a material form or not, about an individual whose identity is apparent, or can reasonably be ascertained, from the information or opinion'.<br />
  Collection of personal information<br />
  We try to collect personal information directly from the individual.<br />
  We only collect personal information for purposes which are directly related to our activities and only when it is necessary for or directly related to such purposes. These purposes include:<br />
  To provide you with information you have enquired about<br />
  To provide you with goods you have purchased<br />
  To provide you with services you have purchased<br />
  When you ask to be on an email or mailing list so that we can send you information about our activities and/or publications<br />
  When you send us information about an event you are organising for us to publicise on our website<br />
  For normal communication processes when we might email you, text you or phone you<br />
  Browsing<br />
  When you only browse the website, we do not collect your personal information.<br />
  When you look at our website, our internet service provider makes a record of your visit and logs (in server logs) the following information for statistical purposes:<br />
  Your server address<br />
  Your top level domain name (for example .com, .gov, .org, .au, etc)<br />
  The pages you accessed and documents downloaded<br />
  The date and time of your visit to our site<br />
  Whether you have visited our site before<br />
  The previous site you visited, and<br />
  The type of browser being used. We do not identify you or your browsing activities except, in the event of an investigation, where a law enforcement agency may exercise a warrant to inspect the internet service provider's server logs.<br />
  Cookies<br />
  Our website may use cookies. You may choose to disable cookies in your browser but this may affect your use of the site in some areas.<br />
  Use and disclosure of your personal information<br />
  We do not disclose your information to third parties.<br />
  Data quality<br />
  We take steps to ensure that the personal information we collect is accurate, up to date and complete. These steps include maintaining and updating personal information when we are advised by you that your personal information has changed.<br />
  Data security<br />
  We take steps to protect the personal information we hold against loss, unauthorised access, use, modification or disclosure and against other misuse. These steps include password protection for electronic files, securing paper files in locked cabinets and physical access restrictions.<br />
  If you choose to join our email lists, complete online forms or lodge enquiries, your contact details are stored on password-protected databases.<br />
  Deletion of data and unsubscribing<br />
  When you cease to be a member of our website, we will destroy your personal information in a secure manner or delete it. If you have not purchased goods, services or visited our website for six months we will delete your information. You can request that your personal information be deleted at any time.<br />
  You may also request us to delete any personal information we hold about you by emailing our contact person whose details are below. You may choose to opt out of further contact from us by sending us an email containing the word &lsquo;unsubscribe&rsquo; in the title of the email.<br />
  Access and correction<br />
  If you wish to request access to the personal information we hold about you, or request that we change that personal information, we will allow access or make the changes unless we consider that there is a sound reason to withhold the information under relevant law such as the Privacy Act, Freedom of Information Act 1982 (Cth) (FOI Act) or other relevant information.<br />
  You can obtain further information about how to request access or changes to the information we hold about you by contacting us (see details below).<br />
  How to contact us<br />
  You can obtain further information in relation to this privacy policy, ask questions about it or provide any comments, by contacting us:<br />
  payout.uptech.com.au</p>

</template>
